@model Stolons.ViewModels.Users.UserStolonViewModel

@{
    ViewData["Title"] = "Bienvenue "+ Model.Consumer.Surname + Model.Consumer.Name +" chez " + Configurations.ApplicationConfig.StolonsLabel;
}

<h2>@ViewData["Title"]</h2>
<h3>Votre compte vient d'être créé, retrouvé dès maintenant les produits locaux de nos producteurs sur www.Stolons.org</h3>
<p>Rappel de vos identifiants :</p>
- Courriel : @Model.Consumer.Email
- Mot de passe : identique à votre courriel
<p>N'oubliez pas de changer votre mot de passe lors de votre prochaine connexion au site.</p>
