@model Stolons.ViewModels.Producers.ProducerViewModel

@{
    ViewData["Title"] = "Edition de vos informations utilisateur";
}

<h2>@ViewData["Title"]</h2>


@{
   Html.Partial("Templates/EditProducer");
}

<div>
    <a asp-action="Index">Retourner à mon compte</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
