@model IndexViewModel
@{
    ViewData["Title"] = "Gérer son compte";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>
<div>
    <h4>Changer vos informations de compte</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Informations:</dt>
        <dd>
            @if (User.IsInRole(Configurations.UserType.Consumer.ToString()))
            {
            <a asp-controller="Manage" asp-action="ChangeUserInformations">Modifier vos informations de profil</a>
            }
            @if (User.IsInRole(Configurations.UserType.Producer.ToString()))
            {
            <a asp-controller="Manage" asp-action="ChangeProducerInformations">Modifier vos informations de profil</a>
             }
        </dd>
        <dt>Mot de passe :</dt>
        <dd>
          <a asp-controller="Manage" asp-action="ChangePassword">Changer votre mot de passe</a>
        </dd>
    </dl>
</div>
