@model IEnumerable<Stolons.Models.Producer>

@{
    ViewData["Title"] = "Nos producteurs";
}

<h2>@ViewData["Title"]</h2>


<table class="table">
    @foreach (var producer in Model.OrderBy(x => x.CompanyName))
    {
        <tr>
            <td >
                <div class="public_Prod_avatar">
                    <img src="@Configurations.GetUrl(producer.Avatar)" class="avatar" />
                </div>
            </td>
            <td>
                <h3>@Html.DisplayFor(modelItem => producer.CompanyName)</h3>
                <p>
                    @Html.DisplayFor(modelItem => producer.Production)
                </p>
            </td>
        </tr>
    }
</table>

