@model Stolons.Models.Producer

@{
    ViewData["Title"] = "Ajouter un nouveau producteur";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>@ViewData["Title"]</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Surname" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Avatar" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="file" accept="image/*" name="uploadFile" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PostCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PostCode" class="form-control" />
                <span asp-validation-for="PostCode" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="City" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="Cotisation" />
                    <label asp-for="Cotisation"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="Enable" />
                    <label asp-for="Enable"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CompanyName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger" />
            </div>
        </div>
            <div class="form-group">
                <label asp-for="Area" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Area" class="form-control" />
                    <span asp-validation-for="Area" class="text-danger" />
                </div>
            </div>
        <div class="form-group">
            <label asp-for="Production" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Production" class="form-control" />
                <span asp-validation-for="Production" class="text-danger" />
            </div>
        </div>
            <div class="form-group">
                <label asp-for="OpenText" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="OpenText" class="form-control" />
                    <span asp-validation-for="OpenText" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="WebSiteLink" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="WebSiteLink" class="form-control" />
                    <span asp-validation-for="WebSiteLink" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Ajouter" class="btn btn-default" />
                </div>
            </div>
        </div>
</form>

<div>
    <a asp-action="Index">Retourner aux producteurs</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
