@model Stolons.ViewModels.Producers.ProducerViewModel

@{
    ViewData["Title"] = "Bienvenue "+ Model.Producer.CompanyName +" chez " + Configurations.ApplicationConfig.StolonsLabel;
}

<h2>@ViewData["Title"]</h2>
<h3>Votre compte vient d'être créé, vous pouvez dès maintenant vous rendre sur www.Stolons.org afin de créer vos produits</h3>
<p>Rappel de vos identifiants :</p>
<p>- Courriel : <b>@Model.Consumer.Email</b></p>
<p>- Mot de passe : <b>identique à votre courriel</b></p>
<p>N'oubliez pas de changer votre mot de passe lors de votre prochaine connexion au site.</p>
