
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding: 25px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Banner */
.bannerAccount {
    padding-top: 5px;
    padding-bottom: 5px;
}

.bannerAccount form {
    display: table-cell;
}

.bannerAvatar {
    display: table-cell;
}

.bannerAvatar img {
    max-height: 40px;
    max-width: 40px;
}


/* Image */
.responsiveImage {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.newsThumnail {
    position: relative;
    width: 375px;
    height: 216px;
    background-color: #222;
}

.nextToDiv {
    display: inline-block;
}

.userNewsAvatar {
    width: 50px;
    height: 50px;
}

.tdImageNews {
    width: 375px;
}

.circleAvatarDiv {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.tdAvatarList {
    height: 25px;
    width: 25px;
}

.userListAvatar {
    width: 25px;
    height: 25px;
}

.avatar {

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}
/*-- PUBLIC PRODUCER --*/

.public_Prod_avatar >img {
    width: 75px;
    height: 75px;
}

/*-- WEEK BASKET --*/
#validatedBasket {
    padding-top: 35px;
}

.product {
    display: inline-block;
    float: left;
    width: 250px;
    height: 220px;
    border: 1px solid #222;
    margin: 5px;
}

.filters{
    
}

#filters .searchFilter {
    display: inline;
}

.product-top {
    height: 100px;
    position: relative;
}
.product-bottom{
    height: 100px;
}
.pr_img { 
}
.pr_img img {
    max-height: 100%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pr_avatar {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    margin: 5px;
}

.pr_avatar img {
    width: 25px;
    height: 25p;x
}

.pr_labels {
    position: absolute;
    bottom:0;
}

.pr_label {
    float: left;
    margin: 0 1px;
    padding-left: 5px;
}

.pr_label img {
    width: 20px;
    height: 20px;
}

.product-bottom {
    height: 100px;
}

.pr_text {
}

.pr_name {
    text-align: center;
    font-size:large
}

.pr_qtystock {
    padding: 10px;
}

.pr_priceQuantity {
    text-align: right;
    font-size: medium;
    float: right;
}

.pr_actions {
    text-align: center;
    padding-top: 10px;
}
.pr_actionDetail {
    display: inline;
}
.addProduct{
    display: inline;
}
.quantity {
    font-weight: 900;
    padding-left: 5px;
    padding-right: 5px;
}

/* Product modal in week basket view */

.modals .modal-header .close {
    margin-top: -18px;
    font-size: 30px;
}

.modals {
    display: block !important;
}

.modals ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#productModal-desc {
    padding-top: 10px;
}

#productModal-desc * {
    margin: 5px
}

#productModal-pricing {
}

#productModal-pricing * {
    margin: 5px
}

#productModal-img img {
    max-width: 150px;
    max-height: 150px;
    display: inline-block;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

#filters {
    margin-bottom: 17px;
}

.searchFilter {
    padding-left: 50px;
}

.select2-container--default, .select2-selection--single {
    width: 170px !important;
    height: 30px !important;
}

.select-option {
    height: 30px;
    width: 180px;
}

.select-option img {
    max-width: 25px;
    max-height: 25px;
}

.basketTable {
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.basketTable > th {
    border: 1px solid #ddd;
}

.basketTitle {
    font-size: 15px;
    width: 100%;
    text-align: center;
}

.basketValidation {
    text-align: center;
}

.deleteEntry {
    color: #f00;
}

.dl-horizontal > dt {
    white-space: normal !important;
    text-align: left !important;
}

.hidden {
    display: none;
}
