@model Stolons.Models.Product

@{
    ViewData["Title"] = "Ajouter un produit";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Familly" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Familly" class="form-control" />
                <span asp-validation-for="Familly" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Labels" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Labels" class="form-control" />
                <span asp-validation-for="Labels" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Photo principale</label>
            <div class="col-md-10">
                <input type="file" accept="image/*" name="uploadFile1" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">2ieme photo</label>
            <div class="col-md-10">
                <input type="file" accept="image/*" name="uploadFile2" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">3ieme photo</label>
            <div class="col-md-10">
                <input type="file" accept="image/*" name="uploadFile3" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DLC" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DLC" class="form-control" />
                <span asp-validation-for="DLC" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Type" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Type" class="form-control"></select>
                <span asp-validation-for="Type" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProductUnit" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ProductUnit" class="form-control"></select>
                <span asp-validation-for="ProductUnit" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="QuantityStep" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="QuantityStep" class="form-control" />
                <span asp-validation-for="QuantityStep" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AverageQuantity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AverageQuantity" class="form-control" />
                <span asp-validation-for="AverageQuantity" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger" />
            </div>
        </div>
        <!--HIDDEN-->
        <div class="form-group" hidden="hidden">
            <label asp-for="Id" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Id" class="form-control" />
            </div>
        </div>
        <div class="form-group" hidden="hidden">
            <label asp-for="PicturesSerialized" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PicturesSerialized" class="form-control" />
            </div>
        </div>
        <div class="form-group" hidden="hidden">
            <label asp-for="RemainingStock" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RemainingStock" class="form-control" />
            </div>
        </div>
        <div class="form-group" hidden="hidden">
            <label asp-for="WeekStock" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="WeekStock" class="form-control" />
            </div>
        </div>
        <div class="form-group" hidden="hidden">
            <label asp-for="State" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="State" class="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
