@model Stolons.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="AverageQuantity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AverageQuantity" class="form-control" />
                <span asp-validation-for="AverageQuantity" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DLC" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DLC" class="form-control" />
                <span asp-validation-for="DLC" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PicturesSerialized" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PicturesSerialized" class="form-control" />
                <span asp-validation-for="PicturesSerialized" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProductUnit" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ProductUnit" class="form-control"></select>
                <span asp-validation-for="ProductUnit" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="QuantityStep" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="QuantityStep" class="form-control" />
                <span asp-validation-for="QuantityStep" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RemainingStock" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RemainingStock" class="form-control" />
                <span asp-validation-for="RemainingStock" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="State" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="State" class="form-control"></select>
                <span asp-validation-for="State" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Type" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Type" class="form-control"></select>
                <span asp-validation-for="Type" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WeekStock" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="WeekStock" class="form-control" />
                <span asp-validation-for="WeekStock" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
