<script id="producerModalTemplate" type="text/template">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
	Hello je suis '<%= producer.CompanyName %>'
      </div>
    </div>
  </div>
</script>
