@using System.Security.Claims

@if (User.IsSignedIn())
{
    <div>
        <a asp-controller="Manage" asp-action="Index" title="Manage">
            <img class="avatar" src="@Configurations.GetUrl(Model.User.Avatar)" />
        </a>
    </div>
    <a asp-controller="Accounts" asp-action="Logoff" class="btn btn-link navbar-btn navbar-link">Se deconnecter</a>
}
else
{
    <a asp-controller="Accounts" asp-action="Login" class="btn btn-link navbar-btn navbar-link">Se connecter</a>
}
